p {
    margin-top: 0px;
}

body {
    margin: 0px;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 24px;
    background-color: rgb(245, 245, 245);
    font-family: Roboto, Arial;
}
