.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    background-color: white;
    z-index: 100;
}

.left {
    display: flex;
    align-items: center;
}

.hamburger {
    height: 24px;
    margin-left: 28px;
    margin-right: 20px;
}

.YtLogo {
    height: 20px;
    margin-left: 20px;
}


.middle {
    flex: 1;
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.searchBar {
    outline: none;
    height: 34px;
    flex: 1;
    padding-left: 10px;
    margin-left: 300px;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 0;
}

.searchBar::placeholder {
    font-size: 14px;
}

.searchButton {
    height: 38px;
    width: 66px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    margin-left: -1px;
    background-color: rgb(240, 240, 240);

}

.microPhone {
    height: 38px;
    width: 40px;
    margin-left: 12px;
    border: none;
    border-radius: 19px;
    background-color: rgb(245, 245, 245);
}

.searchButton,
.microPhone,
.upload,
.apps,
.notificationCount,
.profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.searchButton .tooltip,
.microPhone .tooltip,
.upload .tooltip,
.apps .tooltip,
.notificationCount .tooltip,
.profile .tooltip {
    position: absolute;
    bottom: -40px;
    background-color: lightgray;
    color: black;
    padding: 5px;
    border-radius: 2px;
    opacity: 0;
    margin-top: 20px;
    font-size: 12px;
    transition: opacity 0.25s;
    pointer-events: none;
    white-space: nowrap;
}

.searchButton:hover .tooltip,
.microPhone:hover .tooltip,
.upload:hover .tooltip,
.apps:hover .tooltip,
.notificationCount:hover .tooltip,
.profile:hover .tooltip {
    opacity: 0.85;
}


.right {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.notificationCount {
    position: relative;
}

.count {
    position: absolute;
    top: -3px;
    right: -2px;
    
    border: none;
    color: white;
    background-color: rgb(200, 0, 0);
    font-size: 9px;
    border-radius: 10px;
    padding: 3px;
}
